services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
      network: postgres_default
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    networks:
      - postgres_default

networks:
  postgres_default:
    external: true
