/* 自定义 NProgress 样式 */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* 隐藏转圈动画 */
#nprogress .spinner {
  display: none;
}
