name: Deploy to Local Server

on:
  push:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Docker Deploy
        run: |
          cp /home/heyanxiao/project/smart-ledger/.env.local .
          cp /home/heyanxiao/project/smart-ledger/.env.local .env

          echo "开始自动部署..."
          docker compose down
          docker compose up -d --build
          docker image prune -f
          echo "部署完成！"
